%div.center.jumbotron
  %h1 Welcome to the 53-DBN Roster Challenge

  = link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary"
  \- or -
  = link_to "Log in!", '/login', class: "btn btn-lg btn-primary"
