%div.center.jumbotron
  %h1 53-DBN Roster Challenge

  %h2 Predict the Cleveland Browns 53-man roster!
  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
  %p.divisor - or -
  = link_to "Log in!", login_path, class: "btn btn-lg btn-primary"
