@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$cleveland-brown: #382f2d; // official Cleveland Browns brown hex color code
$cleveland-orange: #eb3300; // official Cleveland Browns orange hex color code

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
    overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a {
  color: $cleveland-orange;
  &:hover {
    color: #EB1B00
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.jumbotron {
  .divisor {
    margin-bottom: 0px;
  }
}

.position-container {
  margin-top: 10px;
  &:first-of-type {
    margin-top: 0;
  }
}

.col-position {
  width: 100%;
  display: block;
  flex-wrap: nowrap;
  color: $cleveland-orange;
  font-weight: bold;
  border-bottom: 1px solid $cleveland-brown;
}

.col-player {
  min-width: 170px;
  display: inline-block;
  flex-wrap: wrap;
  input {
    width: auto;
    margin-left: 0 !important;
  }

}

.btn-roster {
  width: 170px;
}

.roster-container {
  display: table;
  width: 100%;
}

.rosters {
  display: table-row;
  width: 100%;
}

.roster {
  display: table-cell;
  width: 50%;
  padding: 1%;
  flex-wrap: wrap;
  h2 {
    margin-bottom: 10px;
  }
}


.player {
  display: inline-block;
  padding: 1% 0 1% 0;
  margin-top: 1%;
  width: 100%;
  max-width: 170px;
  text-align: center;
  border-radius: 3px;
}

.players-container {
  margin-bottom: 10px;
}

.tba {
  vertical-align: middle;
  color: $gray-light;
  padding-top: 2%;
}


.legend {
  display: table;
  width: 100%;
  padding: 1%
}

.legend-row {
  display: table-row;
  width: 100%;
}

.legend-title{
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.info {
  display: table-cell;
  text-align: center;
  width: calc(100%/3);
  padding: 1%;
  border-radius: 3px;
  vertical-align: middle;  
}

.result {
  text-align: center;
  padding: 4%;
  margin: 0 auto;
  font-weight: bold;
}

.prediction {
  font-size: 2em;
  color: $cleveland-brown;
}

.percentage {
  font-size: 3em;
  color: $cleveland-orange;
}

.options {
  a {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
}

 td {
  a {
    margin-bottom: 1px !important;
  }
 }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $cleveland-brown;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $cleveland-orange;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-brown {
  background-color: $cleveland-brown;
  a {
    color: white;
    &:hover, &:focus, &:active {
      background-color: $cleveland-brown !important;
      text-decoration: none;
      color: #cacaca;

    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-check {
  input {
    width: auto;
  }
}
/* button */

// generated at http://blog.koalite.com/bbg/

.btn-orange { 
  color: #ffffff; 
  background-color: #EB3300; 
  border-color: #EB1B00; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #ffffff; 
  background-color: #EB1B00; 
  border-color: #EB1B00; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #EB3300; 
  border-color: #EB1B00; 
} 
 
.btn-orange .badge { 
  color: #EB3300; 
  background-color: #ffffff; 
}